
<ion-view view-title="Cep Uzem" class = "bar-energized">
  <ion-content class="padding">
    <h2>Ondokuz Mayıs Üniversitesi</h2>
    <p>
   <button class="button icon-left ion-star button-positive">duyuru</button>
    </p>
    <p>
   <button class="button icon-left ion-star button-positive">duyuru</button>
    </p>
    <p>
    <button class="button icon-left ion-star button-positive">duyuru</button>
    </p>
    <p>
    <button class="button icon-left ion-star button-positive"> duyuru</button>
    </p>
  </ion-content>
</ion-view>
